<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADUserGroupManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ADUserGroupManager.Properties.Settings>
            <setting name="DomainController" serializeAs="String">
                <value>dc01.praxisclouds.labs</value>
            </setting>
            <setting name="BaseDN" serializeAs="String">
                <value>dc=praxisclouds,dc=labs</value>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>praxisclouds.labs</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
        </ADUserGroupManager.Properties.Settings>
    </userSettings>
</configuration>